.faq {
  background: white;
  padding: 40px 20px;
}

.faq h2 {
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.faq-question {
  cursor: pointer;
  padding: 15px;
  background: #f9f9f9;
  position: relative;
  font-weight: bold;
  transition: background 0.3s ease;
  padding-right: 35px;
}

.faq-question:hover {
  background: #e6e6e6;
}

/* Expansion Indicator (+/-) */
.faq-question::after {
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

/* When Active, Change Icon to '-' */
.faq-item.active .faq-question::after {
  content: '-';
}

/* Smooth Expandable Answer */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  padding: 0 15px;
}

/* Dynamically Expanding Answer */
.faq-item.active .faq-answer {
  max-height: fit-content;
  padding: 15px 15px 0px 15px;
}

/* ----Alternative---- */

.faq-item.alt {
  background: #f0f0f0;
  border-left: 4px solid #d7d8e8; 
  padding: 10px;
  border-radius: 5px;
}

.faq-item.alt .faq-question {
  background: #e0e0e0;
}

.faq-item.alt .faq-question::after {
  content: '⯆'; 
  font-size: 18px;
}

.faq-item.alt.active .faq-question::after {
  content: '⯅';
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .faq {
    padding-right: 10px 40px;
  }
}
